# Database Configuration
DATABASE_URL="postgresql://kosanku_admin:KosanKuPro2026SecurePass!@103.247.11.177:5432/kosanku_pro_db?schema=public"

# WhatsApp Gateway (Fonnte Token)
FONNTE_WHATSAPP_TOKEN="aYeCRoZCpJYQp2gZgd1p"

# Midtrans Payment Gateway Configuration
MIDTRANS_MERCHANT_ID="M194753553"
MIDTRANS_CLIENT_KEY="Mid-client-8f3eXqGDNIR_WoDE"
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY="Mid-client-8f3eXqGDNIR_WoDE"
MIDTRANS_SERVER_KEY="Mid-server-G_ycf13XRX5SW8Jinw3N-nm5"
MIDTRANS_IS_PRODUCTION="true"
PAYMENT_PROVIDER="midtrans"
